*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
ul{
    list-style: none;
}
.left{
    float: left;
    width: 200px;
    height:600px ;
    background-color: darkturquoise;
    text-align: center;
    padding-top: 50px;
}
h1{
    color: whitesmoke
}
.right{
    width: 400px;
    float: left;
    margin-left: 30px;
}
li{
    font-weight: bold;
    float: left;
    margin-right: 20px;
}
span{
    font-weight: normal;
}